body {
  position: relative;
}

section {
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  padding-top: 75px;
}

section h2 {
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 36px;
  text-align: center;
  word-spacing: 3px;
  color: #277b43;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.4);
}

section h2::after {
  content: "";
  display: block;
  width: 100px;
  margin: 12px auto 20px auto;
  border-top: 2px solid #ffbf00;
  border-bottom: 1px solid #eee;

}
.map {
width:65%;
height: 360px;
margin: 15px auto;
outline: 2px solid #ddd;
border: 3px solid white;
}

.container {
  max-width: 768px;
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }
}

@media (min-width: 768px){
  body {
    padding-bottom: 300px;
  }
  .navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }
}
